@using KartverketProject.Dtos
@model LoginRequest

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post" class="space-y-4">
    @Html.AntiForgeryToken()

    <!-- Email -->
    <div class="sm:col-span-2">
        <label asp-for="Email" class="block text-sm font-medium text-gray-800 mb-1">Email</label>
        <input asp-for="Email"
               class="border p-2 rounded w-full" />
        <span asp-validation-for="Email" class="text-sm text-red-600"></span>
    </div>

    <!-- Password -->
    <div class="sm:col-span-2">
        <label asp-for="Password" class="block text-sm font-medium text-gray-800 mb-1">Password</label>
        <input asp-for="Password"
               class="border p-2 rounded w-full" type="password" />
        <span asp-validation-for="Password" class="text-sm text-red-600"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>

    <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}