@using KartverketProject.Dtos
@model LoginRequest

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post" class="space-y-4">
    @Html.AntiForgeryToken()

    <!-- Username -->
    <div class="sm:col-span-2">
        <label asp-for="UserName" class="block text-sm font-medium text-gray-800 mb-1">Username</label>
        <input asp-for="UserName"
               class="border p-2 rounded w-full" />
        <span asp-validation-for="UserName" class="text-sm text-red-600"></span>
    </div>

    <!-- Password -->
    <div class="sm:col-span-2">
        <label asp-for="Password" class="block text-sm font-medium text-gray-800 mb-1">Password</label>
        <input asp-for="Password"
               class="border p-2 rounded w-full" type="password" />
        <span asp-validation-for="Password" class="text-sm text-red-600"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>

    <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Login</button>
</form>

<!-- Login link -->
<p class="text-sm text-gray-600 text-center mt-4">
    Don't have an account?
    <a href="/Account/Register" class="text-blue-600 hover:underline">Register here</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}