body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map-wrapper {
    position: relative;
    height: 95vh; /* pc */
    min-height: 400px; /* mobile */
    flex: 1;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 400px;
    z-index: 0;
}

.draw-toggle {
    background-color: rgba(255,0,0,0.5);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

    .draw-toggle.active {
        background-color: rgba(0,128,0,0.8);
    }

    .draw-toggle svg {
        width: 20px;
        height: 20px;
        fill: white;
    }
