html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0; /* fjern bottom margin */
}

/* flexible nav */
nav {
}

/* dark mode */
body.dark-mode {
    background-color: #181818;
    color: #f1f1f1;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
    background-color: #222;
    color: #f1f1f1;
    border-color: #444;
}
